body {}

p {
  margin: 0;
}

* {
  vertical-align: middle;
}

.vux-cell-bd {
  p {
    text-align: left;
  }
}

.lip {
  color: #FF16A4;
}

.text-center{
  text-align: center!important;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.bg-white {
  background-color: white;
}

.weui-btn[disabled] {
	opacity: 0.2;
	color: white;
}
